<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Ticket Booking{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'booking/styles.css' %}">
</head>
<body>
    <header>
        <h1>Ticket Booking System</h1>
    </header>
    <main>
        <section id="introduction">
            {% block introduction %}
            <p>Welcome to the Ticket Booking System. Here you can find and book tickets for various events.</p>
            {% endblock %}
        </section>
        {% block content %}{% endblock %}
    </main>
    <footer>Developed by Apoorva Viresh D-1JT21CS017</footer>
</body>
</html>
